@model DuraboStockManagement.Models.Magasin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Magasin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomMagasin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomMagasin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantitéMaximale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantitéMaximale)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MagasinID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
