@model IEnumerable<DuraboStockManagement.Models.Magasin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomMagasin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantitéMaximale)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomMagasin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantitéMaximale)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MagasinID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MagasinID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MagasinID })
        </td>
    </tr>
}

</table>
